#login-dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: var(--widget-background-color);
    padding: 10px;
    width: calc(var(--region-width) + 20px);
}

fieldset {
    width: 100%;
}

.password-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

#username-text, #password-text, #password-confirm-text, #email-text {
    width: 100%;
}

#email-div {
    display: none;
}

#password-confirm {
    display: none;
}

.eyes, button, .select, #selection-div > label {
    cursor: pointer;
}

.eyes:hover, button:hover, #selection-div > label:hover {
    color: red;
}

#selection-div {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: flex-end;
}

#forgot-button {
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
}

#login-buttons {
    align-self: flex-end;
}

#error-msg {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    top: -600px;
    z-index: 9999;
    width: fit-content;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(230, 161, 121);
    padding: 10px;
}

#error-msg[data-open="true"] {
    top: 20%;
}

#error-msg > span {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    #login-dialog {
        width: calc(var(--region-width) * 2 + 20px);
    }
}
