* {
    box-sizing: border-box;
}

body {
    --background-color: rgb(255, 255, 255);
    --widget-background-color: rgb(230, 213, 213);
    --widget-focus-background-color: rgb(238, 193, 97);
    --border-color: rgb(124, 15, 15);
    --font-color: rgb(73, 5, 5);
    --region-width: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color);
}

h1 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0px 0px 0px 0px;
    color: var(--font-color);
}

button {
    border-radius: 10px;
    background: var(--widget-background-color);
    height: 2rem;
    color: var(--font-color);
}

button:focus {
    background: var(--widget-focus-background-color);
}

header {
    width: calc(var(--region-width) + 20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    margin: 0px 0px 10px 0px;
}

main, footer {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    margin-bottom: 10px;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

footer {
    width: calc(var(--region-width) + 20px);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px;
    border-radius: 10px;
    padding: 25px;
    background: var(--widget-background-color);
}

.column {
    display: flex;
    flex-direction: column;
    width: calc(var(--region-width) - 20px);
    justify-content: flex-start;
}

.input-field {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.input-field > input {
    flex: 1;
    border-radius: 10px;
    height: 2rem;
    background: var(--widget-background-color);
    border-style: groove;
    border-color: var(--border-color);
    color: var(--font-color);
    padding: 5px;
}

.input-field > input:focus {
    background: var(--widget-focus-background-color);
}

.section-label {
    flex: 1;
    align-self: center;
    font-weight: bold;
    padding-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: start;
    row-gap: 5px;
    column-gap: 5px;
    width: 100%;
    min-height: 200px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--border-color);
    margin: 5px 0px 30px 0px;
    padding: 5px 5px 5px 5px;
}

.container#tags-container {
    max-height: 200px;
}

.ingredient, .instruction, .tag {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    background: var(--widget-background-color);
    color: var(--font-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    height: 1.7rem;
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
}

.ingredient:focus, .instruction:focus, .tag:focus {
    background: var(--widget-focus-background-color);
}

#recipe-title > .input-field {
    margin-bottom: 30px;
    min-width: calc(var(--region-width) - 20px);
}

#description-text {
   flex: 1;
   padding: 5px;
   background-color: var(--widget-background-color);
   color: var(--font-color);
}

#description-text:focus {
    background-color: var(--widget-focus-background-color);
}

#image-file {
    margin: auto;
}

#choices {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#theme {
    flex: 1;
    align-self: center;
    border-style: groove;
    border-color: var(--border-color);
    border-radius: 10px;
    border-width: 2px;
    color: var(--font-color);
    background: var(--widget-background-color);
    height: 2rem;
    margin-right: 5px;
    padding: 2px;
    align-self: center;
}

#theme > input {
    margin: 5px;        
}

#error-message {
    position: absolute;
    padding: 10px;
    min-width: calc(var(--region-width) - 20px);
    top: -1000px;
    background: var(--widget-focus-background-color);
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    body {
        --region-width: 350px;
    }

    h1 {
        font-size: 1.8rem;
    }

    header {
        width: calc(var(--region-width) * 2 + 20px);
    }

    footer {
        width: calc(var(--region-width) * 2 + 20px);
    }

    main {
        flex-direction: row;
    }

    #recipe-title > .input-field {
        margin-bottom: 30px;
        min-width: calc(var(--region-width) * 2 - 20px);
    }

    #description {
        margin-top: 65px;
    }

    #error-message {
        min-width: calc(var(--region-width) * 2 - 20px);
    }
}