* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 29, 29);
    font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color);
    --region-width: 100%;

    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:screen;
    background-position-x: center;
}

body.light-mode {
    --background-color: rgba(197, 208, 224, .8);
    --widget-background-color: rgb(192, 179, 179);
    --widget-focus-background-color: rgb(240, 206, 133);
    --border-color: rgb(124, 15, 15);
    --font-color: rgb(73, 5, 5);
}

body.dark-mode {
    --background-color: rgba(20, 20, 20, .7);
    --widget-background-color: rgb(50, 50, 50);
    --widget-focus-background-color: rgb(29, 36, 122);
    --border-color: rgb(124, 250, 250);
    --font-color: rgb(124, 250, 250);
}

h1 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0px 0px 0px 0px;
    color: var(--font-color);
}

button {
    border-radius: 10px;
    background: var(--widget-background-color);
    height: 2rem;
    color: var(--font-color);
    cursor: pointer;
}

button:hover {
    background: var(--widget-focus-background-color);
    color: red;
}

button:focus {
    background: var(--widget-focus-background-color);
    color: red;
}

button#help-button {
    height: 1.2rem;
    font-size: .7rem;
}

header {
    width: var(--region-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    margin: 0px 0px 10px 0px;
    background-color: var(--background-color);
}

main, footer {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    margin-bottom: 10px;
    padding: 20px;
    background-color: var(--background-color);
    width: var(--region-width);
}

main {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px;
    border-radius: 10px;
    padding: 25px;
    background: var(--widget-background-color);
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: var(--region-width);
    justify-content: flex-start;
    margin: 0;
}

.input-field {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.input-field > input {
    flex: 1;
    border-radius: 10px;
    height: 2rem;
    background: var(--widget-background-color);
    border-style: groove;
    border-color: var(--border-color);
    color: var(--font-color);
    padding: 5px;
}

.input-field > input:focus {
    background: var(--widget-focus-background-color);
}

.section-label {
    flex: 1;
    align-self: center;
    font-weight: bold;
    padding-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: start;
    row-gap: 5px;
    column-gap: 5px;
    width: 100%;
    min-height: 200px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--border-color);
    margin: 5px 0px 30px 0px;
    padding: 5px 5px 5px 5px;
}

.container#help {
    font-size: .9rem;
}

.container#tags-container {
    max-height: 200px;
}

.ingredient, .instruction, .tag, .link {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-color);
    background: var(--widget-background-color);
    color: var(--font-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    height: 1.7rem;
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
}

.ingredient:focus, .instruction:focus, .tag:focus {
    background: var(--widget-focus-background-color);
}

#recipe-title > .input-field {
    margin-bottom: 30px;
    min-width: calc(var(--region-width) - 20px);
}

#description-text {
   flex: 1;
   padding: 5px;
   background-color: var(--widget-background-color);
   color: var(--font-color);
}

#description-text:focus {
    background-color: var(--widget-focus-background-color);
}

#image-file {
    margin: auto;
}

#choices {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-content: baseline;
}

#error-msg {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    top: -600px;
    z-index: 9999;
    width: fit-content;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--widget-focus-background-color);
    padding: 10px;
}

#error-msg[data-open="true"] {
    top: 20%;
}

#error-msg > span {
    font-size: 2rem;
}

@media screen and (min-width: 900px) {
    body {
        --region-width: 600px;
        
    }
}

@media screen and (min-width: 768px) {
    body {
        --region-width: 350px;
    }

    h1 {
        font-size: 1.8rem;
    }

    header {
        width: calc(var(--region-width) * 2 + 62px);
    }

    footer {
        width: calc(var(--region-width) * 2 + 62px);
    }

    main {
        flex-direction: row;
        width: calc(var(--region-width) * 2 + 62px)
    }

    #recipe-title > .input-field {
        margin-bottom: 30px;
        min-width: calc(var(--region-width) * 2 - 20px);
    }

    #description {
        margin-top: 65px;
    }

    #error-message {
        min-width: calc(var(--region-width) * 2 - 20px);
    }
}

