<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe share - Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="../static/home.js" defer></script>
    <script>
        function decorate(element) {
            const el = document.getElementById(element);
            el.addEventListener("click", (e) => {
                e.preventDefault();
                const uri = el.getAttribute("href") + `&mode=${document.body.className}`
                location.href = uri;
            });
        }
    </script>
</head>
<body class="light-mode">
    <header>
        <h1>Welcome to Recipe Share</h1>
    </header>
    <main>
        <div class="column" id="left-column">
            <section id="logged-in">
                <h3>
                    Logged in as {{ username }}
                </h3>
                <button id="notyou-button">Not you? Logout</button>
            </section>
            <section>
                <h3>Contribute your own recipe!</h3>
                <div class="container" id="contribute">
                    This is the fun part! Professional chef, amateur chef, or just a wannabe? Share your 
                    culinary expolit with the world. Open the Recipe Editor clicking below to begin.
                    <button id="contribute-button">I want to contribute!</button>
                </div>
            </section>
            <section>
                <h3>My Contributions</h3>
                <div class="container" id="user-contributions">
                    {% set count = namespace(value=1) %}
                    {% for item in contributions %}   
                        <div class="link">
                            <a id="edit-contrib{{ count.value }}" 
                                href="/edit?id={{ item.id }}&update=true">
                                <span class="material-icons-outlined">edit</span>
                            </a> 
                            <a id="contrib{{ count.value }}" 
                                href="/display?id={{ item.id }}">
                                {{ item.title }}
                            </a>
                        </div>
                        <script>
                            decorate("edit-contrib{{ count.value }}");
                            decorate("contrib{{ count.value }}");
                        </script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section> 
        </div>
        <div class="column" id="right-column">
            <section>
                <h3>
                    Most Recent Contributions
                </h3>
                <div class="container" id="recent">
                    {% set count = namespace(value=1) %}
                    {% for item in recent %}
                        <div class="link">
                            <a id="recent{{ count.value }}" 
                                href="/display?id={{ item.id }}">{{ item.title }}</a><br /> 
                        </div>
                        <script>decorate("recent{{ count.value }}")</script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section>
            <section>
                <h3>
                    Search
                </h3>
                <div class="input-field">
                    <input class="input" id="search-text" type="text" placeholder="Search text" 
                        aria-label="search text field">
                    <button class="add-button" id="search-button" aria-label="Search">Search</button>
                </div>
                <div class="container" id="results"></div>
            </section>
            <button id="logout-button">Logout</button>
        </div>
    </main>

    <footer>
        <div id="choices">
            <div class="choice" id="theme">
                <input type="checkbox" id="darkmode" aria-label="toggle darkmode" aria-checked="false">
                <label for="darkmode">Dark mode</label>
            </div>
            <div id="buttons">
                
            </div>
        </div>
    </footer>    
</body>
</html>