<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe share - Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <script src="../static/home.js" defer></script>
    <script>
        function decorate(element) {
            const el = document.getElementById(element);
                el.addEventListener("click", (e) => {
                    e.preventDefault();
                    const uri = e.target.getAttribute("href") + `&mode=${document.body.className}`
                    location.href = uri;
                });

            // Adjust title length
            const titleWords = el.innerHTML.split(" ");
            let title = "";
            if (titleWords.length > 7) {
                title = titleWords.slice(0, 7).join(" ") + "...";
            }
            else {
                title = titleWords.join(" ");
            }
            el.innerHTML = title;
        }
    </script>
</head>
<body class="light-mode">
    <header>
        <h1>Recipe Share</h1>
    </header>
    <main>
        <div class="column" id="left-column">
            <section>
                <h3>Welcome to Recipe Share</h3>
                <p>
                    Who doesn't like food? Who does not like trying out new dishes?
                </p>
                <p>
                    This site is a demo of a web application for finding and sharing recipes. You
                    can search for recipes in the database, or add your own (at present, anonymously).
                    This is a preliminary release, so it will hopefully become more featured in 
                    the not too distant future. 
                </p>
            </section>
            <section>
                <h3>Contribute your own recipe!</h3>
                <div class="container" id="contribute">
                    This is the fun part! Professional chef, amateur chef, or just a wannabe? Share your 
                    culinary expolit with the world. Open the Recipe Editor clicking below to begin.
                    <button id="contribute-button">I want to contribute!</button>
                </div>
            </section>   
            <section>
                <h3>
                    Search
                </h3>
                <div class="input-field">
                    <input class="input" id="search-text" type="text" placeholder="Search text" 
                        aria-label="search text field">
                    <button class="add-button" id="search-button" aria-label="Search">Search</button>
                </div>
                <div class="container" id="results"></div>
            </section>
        </div>

        <div class="column" id="right-column">
            <section>
                <h3>
                    Most Recent Contributions
                </h3>
                <div class="container" id="recent">
                    {% set count = namespace(value=1) %}
                    {% for item in recent %}
                        <div class="link">
                            <a  id="recent{{ count.value }}" 
                                href="/display?id={{ item.id }}">{{ item.title }}</a><br /> 
                            <span>{{ item.views }} views</span>
                        </div>
                        <script>decorate("recent{{ count.value }}")</script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section>
            <section>
                <h3>
                    Most Popular Contributions
                </h3>
                <div class="container" id="views">
                    {% set count = namespace(value=1) %}
                    {% for item in views %}
                        <div class="link">
                            <a id="views{{ count.value }}" 
                                href="/display?id={{ item.id }}">{{ item.title }}</a><br /> 
                            <span>{{ item.views }} views</span>
                        </div>
                        <script>decorate("views{{ count.value }}")</script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div id="choices">
            <div class="choice" id="theme">
                <input type="checkbox" id="darkmode" aria-label="toggle darkmode" aria-checked="false">
                <label for="darkmode">Dark mode</label>
            </div>
            <div id="buttons">
                
            </div>
        </div>
    </footer>    
</body>
</html>