<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe share - Recipe Editor</title>
    <script src="../static/recipe-editor.js" defer></script>
    <link rel="stylesheet" href="../static/style.css" />
    <style>
        img {padding: 20px;}
    </style>
    <script>
        function decorate(id, textName, containerName) {
            const item = document.getElementById(id);
            const textBox = document.getElementById(textName);
            const contain = document.getElementById(containerName);

            item.addEventListener("click", (e) => {
                if (e.shiftKey) {
                    const string = item.value;
                    focusNext(item, textBox);
                    item.remove();
                    const countItems = contain.querySelectorAll("div").length;
                    displayMessage(`${string} removed ${countItems} ${textName}s remaining`, false);
                }
            });

            item.addEventListener("keydown", (e) => {
                if (e.key === "Delete" || (e.key === "Backspace" && e.target.value === "")) {
                    const string = item.value;
                    e.preventDefault();
                    focusNext(item, textBox);
                    item.remove();
                    const countItems = contain.querySelectorAll("div").length;
                    displayMessage(`${string} removed ${countItems} ${textName}s remaining`, false);
                }
                if (e.key === "ArrowUp") {
                    e.preventDefault();
                    contain.insertBefore(item, item.previousElementSibling);
                    item.focus();
                }
                else if (e.key === "ArrowDown") {
                    e.preventDefault();
                    if (item.nextElementSibling) {
                        contain.insertBefore(item, item.nextElementSibling.nextElementSibling);
                        item.focus();
                    }
                }
                else if (e.key === "Insert") {
                    newItem = addItem(textBox, textName, contain);
                    contain.insertBefore(newItem, item);
                    newItem.focus();
                }
                else if (e.code === "Enter") {
                    e.preventDefault();
                    textBox.focus();
                }
            })

            document.getElementById("kill-me").remove();
        }
    </script>
</head>
<body class="{{ mode }}">
    <header>
        <h1>Recipe Editor</h1>
    </header>
    <main id="main">
        {% if recipe._id is defined and recipe._id != None %}
            <input id="recipe-id" type="hidden" value="{{ recipe._id }}">
        {% else %}
            <input id="recipe-id" type="hidden" value="">
        {% endif %}
        
        <div class="column" id="left-column">
            <section id="recipe-title">
                <div class="input-field">
                    <input class="input" id="title" type="text" placeholder="Add recipe title"
                        aria-label="title text field" value="{{ recipe.Title }}">
                </div>
            </section>

            <section id="ingredients">
                <div>
                    <button id="help-button">Show editing help</button>
                    <div class="container" id="help" style="display: none;">
                        <p>
                            Ingredients, Instructions, and Tags editing:
                            <ul>
                                <li>Add button adds a cell</li>
                                <li>Click on cell to edit text</li>
                                <li>Delete key (or backspace if empty) deletes current cell</li>
                                <li>Insert key inserts empty cell above current cell</li>
                                <li>Up arrow key moves current cell up one</li>
                                <li>Down arrow key moves current cell down one</li>
                                <li>Enter key to return to Add item text field above</li>
                                <li>To expand cell, left-drag with mouse on lower right corner</li>
                            </ul>
                        </p>
                        <p>
                            Description: click "I have writer's block" for AI to write for you. Title,
                            ingredients, and instructions, need be completed.
                        </p>
                        <p>
                            Image: "Edit image" button to replace current image. "Choose File" to
                            upload image from your device.
                        </p>
                        <p>
                            Title, Ingredient, Description, and Tags are required. Image is optional.
                        </p>
                    </div>
                </div>
                <div class="input-field">
                    <input class="input" id="ingredient" type="text" placeholder="Add ingredient name" 
                        aria-label="ingredient text field">
                    <button class="add-button" id="add-ingredient" aria-label="Add ingredient">Add</button>
                </div>
                <div class="container" id="ingredient-container" tabindex="0" 
                    aria-label="ingredients, tab to select items, tab to edit, shift+spacebar to remove">
                    {% set count = namespace(value=1) %}
                    {% for ingredient in recipe.Ingredients %}
                        <textarea class="ingredient" id="ingredient{{ count.value }}" rows="1">{{ ingredient }}</textarea>
                        <script id="kill-me">decorate("ingredient{{ count.value }}", "ingredient", "ingredient-container")</script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section>
            
            <section id="instructions">
                <div class="input-field">
                    <input class="input" id="instruction" type="text" placeholder="Add instruction"
                        aria-label="instruction text field">
                    <button class="add-button" id="add-instruction" aria-label="Add instruction">Add</button>
                </div>
                <div class="container" id="instruction-container" tabindex="0" 
                    aria-label="instructions, tab to select items, tab to edit, shift+spacebar to remove">
                    {% set count = namespace(value=1) %}
                    {% for instruction in recipe.Instructions %}
                        <textarea class="instruction" id="instruction{{ count.value }}" rows="1">{{ instruction }}</textarea>
                        <script id="kill-me">decorate("instruction{{ count.value }}", "instruction", "instruction-container")</script>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="column" id="right column">
            <section id="description">
                <div class="input-field">
                    <span class="section-label">Write description</span>
                    <button id="generate-button">I have writer's block</button>
                </div>
                <div class="container" id="description-container">
                    <textarea name="description-text" id="description-text" cols="30" rows="10"
                        placeholder="Add enticing description">{{ recipe.Description }}</textarea>
                </div>
            </section>

            <section>
                <div class="input-field">
                    <span class="section-label">Image (optional - make it enticing)</span>
                    <button class="add-button" id="edit-image">Edit image</button>
                </div>
                <div class="container" id="image-container">
                    {% if recipe.imageData is defined and recipe.imageData != None %}
                        <img id="image" src="{{ recipe.imageData }}" alt="{{ recipe.Image_Name }}">
                        <input type="hidden" name="file" id="image-file" value="{{ recipe.Image_Name}}.jpg"/>
                    {% elif recipe.Image_Name is defined and recipe.Image_Name != None %}
                        <img id="image" src="./static/recipe-images/{{ recipe.Image_Name }}.jpg" alt="{{ recipe.Image_Name }}">
                    {% else %}
                        <input type="file" name="file" id="image-file" />
                    {% endif %}
                </div>
            </section>

            <section id="tags"></section>
                <div class="input-field">
                    <input class="input" id="tag" type="text" placeholder="Add tag (e.g., 'vegan' or 'Mexican')">
                    <button class="add-button" id="add-tag">Add</button>
                </div>
                <div class="container" id="tags-container" tabindex="0" 
                    aria-label="ingredients, tab to select items, tab to edit, shift+spacebar to remove">
                    {% if recipe.Tags is defined and recipe.Tags|length > 0 %}
                        {% set count = namespace(value=1) %}
                        {% for tag in recipe.Tags %}
                            <textarea class="tag" id="tag{{ count.value }}" rows="1">{{ tag }}</textarea>
                            <script id="kill-me">decorate("tag{{ count.value }}", "tag", "tag-container")</script>
                            {% set count.value = count.value + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>

        <div id="error-message" aria-live="assertive"></div>
    </main>

    <footer>
        <div id="choices">
            <button id="back-button" aria-label="back">Back</button>
            <button id="preview-button" aria-label="preview recipe">Preview</button>
            <button id="publish-button" aria-label="publish recipe">Publish</button>
        </div>
    </footer>

    
</body>
</html>