<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share - {{ recipe.title }}</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/recipe-card.css" />
    <script src="../static/recipe-card.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <main id="main">
        <div id="card-title"><h1>{{ recipe.title }}</h1></div>
        <div id="description">
            {% if recipe.imageData is defined and recipe.imageData != None %}
                <img src="{{ recipe.imageData }}" alt="{{ recipe.image }}">
            {% elif recipe.image is defined and recipe.image != None %}
                <img src="./static/recipe-images/{{ recipe.image }}.jpg" alt="{{ recipe.image }}">
            {% endif %}
            {{ recipe.description}}
        </div>
        <div id="columns">
            <div class="column" id="left-column">
                <h3>
                    Ingredients
                </h3>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column" id="right-column">
                <h3>
                    Instructions
                </h3>
                <ol>
                    {% for instruction in recipe.instructions %}
                        <li>{{ instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </main>
    <div class="no-print" id="buttons">
        <button id="back-button" aria-label="back">Back</button>
        <button id="print-button" aria-label="print">Print</button>
        <button id="download-button"  aria-label="download as PDF">Download as PDF</button>
    </div>
</body>
</html>